body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #eee;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
}

a {
  color: #4da3ff;
}h
